@tailwind base;
@tailwind components;
@tailwind utilities;

/* :global(.ql-tooltip) {
  background-color: #f0f0f0;
} */

/* @layer base {
  .ql-editor h1,
  .ql-editor h2,
  .ql-editor p {
    all: unset;
  }
} */

@tailwind base;

@layer base {
  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6,
  .no-tailwindcss-base p {
    font-size: revert;
    font-weight: revert;
    line-height: revert;
  }

  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}

@tailwind components;
@tailwind utilities;
